
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home: Aling Nena </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">
    <link href="MyStyle.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
          <a class="navbar-brand" href="/products">Products</a>
          <a class="navbar-brand" href="/about">About Us</a>
        </div>
      </div>
    </div>
    <center>
      <img src="images/banner.jpg" />
    </center>
    <div class="container">
      <div class="admin">
        <h1>Popular Products!</h1>        
        <table class="table">
          <thead>
            <tr>
              <td>ID</td>
              <td>Name</td>
              <td>Price</td>
              <td>Quantity</td>
            </tr>
          </thead>
          <tbody>
          <% @random_products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><a href="/buy_product/<%= product.id %>"><%= product.name %></a></td>
              <td><%= product.price %></td>
              <td><%= product.quantity %></td>
              <td><a href="/buy_product/<%= product.id %>" class="btn btn-default btn-primary">Buy</a></td>
            </tr>
          <% end %>          
          </tbody>          
        </table>
        <a href="/products" class="btn btn-default">Show All Products</a>
      </div>
    </div>



    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
